@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.editor{
    width: 45%;
    height: 90vh;

    .header{
        @include header
    }

    #editor{
        width: 100%;
        min-height: 100%;
        padding: 5px;
        overflow-y: auto;
        resize: vertical;
        background-color: $main-light;
    }
}